node_modules
.next
.angular
dist
.turbo
*.tsbuildinfo
.DS_Store
data/*.db
data/*.db-journal
data/*.db-shm
data/*.db-wal
data/outputs/*
!data/outputs/.gitkeep
data/logs/*
!data/logs/.gitkeep
.env
.env.local
coverage
